<div class="survey-attempt-form">
  <h2>Question<%= link_to "back_to_survey".cms, survey_questions_path(@survey), class: "btn btn-primary"%></h2>
  <%= form_for form, as: :question, url: url, method: method do |f| %>
    <%- unless form.errors.empty? %>
      <ul>
        <%- form.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :type %>
      <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {}, id: "question_type" %>
    </div>

    <div class="form-group">
      <%= f.label :question_text %>
      <%= f.text_field :question_text %>
    </div>

    <div class="form-group">
      <%= f.label :position %>
      <%= f.number_field :position %>
    </div>

    <div class="form-group">
      <%= f.label :placeholder %>
      <%= f.text_field :placeholder %>
    </div>

    <div class="form-group">
      <%= f.label :default_text %>
      <%= f.text_field :default_text %>
    </div>

    <div class="form-group" id="answer_options_div">
      <%= f.label :answer_options %>
      <%= f.text_area :answer_options, rows: 5 %>
    </div>

      <h4>Other options</h4>
      <hr/>

    <div class="form-group" id="answer_presence_div">
      <label for="question_answer_options"><%= "is_mandatory".cms{"Is this mandatory?"} %></label>
      <%= f.check_box :answer_presence %>
    </div>

    <div class="form-group" id="answer_minimum_length_div">
      <label for="question_answer_options"><%= "char_min_length".cms{"Minimum characters length"} %></label>
      <%= f.text_field :answer_minimum_length %>
    </div>

    <div class="form-group" id="answer_maximum_length_div">
      <label for="question_answer_options"><%= "char_max_length".cms{"Maximun characters length"} %></label>
      <%= f.text_field :answer_maximum_length %>
    </div>

    <div class="form-group" id="answer_greater_than_or_equal_to_div">
      <label for="question_answer_options"><%= "greater_than_equal_to".cms{"Greater than or equal to"} %></label>
      <%= f.text_field :answer_greater_than_or_equal_to %>
    </div>

    <div class="form-group" id="answer_less_than_or_equal_to_div">
      <label for="question_answer_options"><%= "less_than_equal_to".cms{"Less than or equal to"} %></label>
      <%= f.text_field :answer_less_than_or_equal_to %>
    </div>
    
    <div class="clearfix">
      <%= f.submit submit_text, :class => "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
<style type="text/css">
  .survey-attempt-form h2 a{
    float: right;
  }
</style>
<script type="text/javascript">
  function change_question_type(val) {
    switch(val) {
      case "Rapidfire::Questions::Date":
        $("#answer_minimum_length_div").hide();
        $("#answer_maximum_length_div").hide();
        $("#answer_greater_than_or_equal_to_div").hide();
        $("#question_answer_greater_than_or_equal_to").val('');
        $("#question_answer_greater_than_or_equal_to").val('');
        $("#answer_less_than_or_equal_to_div").hide();
        $("#answer_options_div").hide();
        $("#question_placeholder").val('MM/dd/yyyy');
        break;
      case "Rapidfire::Questions::Long":
        $("#answer_minimum_length_div").show();
        $("#answer_maximum_length_div").show();
        $("#answer_greater_than_or_equal_to_div").hide();
        $("#answer_less_than_or_equal_to_div").hide();
        $("#answer_options_div").hide();
        break;
      case "Rapidfire::Questions::Checkbox":
        $("#answer_minimum_length_div").hide();
        $("#answer_maximum_length_div").hide();
        $("#answer_greater_than_or_equal_to_div").hide();
        $("#answer_less_than_or_equal_to_div").hide();
        $("#answer_options_div").show();
        break;
      case "Rapidfire::Questions::Numeric":
        $("#answer_minimum_length_div").hide();
        $("#answer_maximum_length_div").hide();
        $("#answer_greater_than_or_equal_to_div").show();
        $("#answer_less_than_or_equal_to_div").show();
        $("#answer_options_div").hide();
        break;
      case "Rapidfire::Questions::Radio":
        $("#answer_minimum_length_div").hide();
        $("#answer_maximum_length_div").hide();
        $("#answer_greater_than_or_equal_to_div").hide();
        $("#answer_less_than_or_equal_to_div").hide();
        $("#answer_options_div").show();
        break;
      case "Rapidfire::Questions::Select":
        $("#answer_minimum_length_div").hide();
        $("#answer_maximum_length_div").hide();
        $("#answer_greater_than_or_equal_to_div").hide();
        $("#answer_less_than_or_equal_to_div").hide();
        $("#answer_options_div").show();
        break;
      case "Rapidfire::Questions::Short":
        $("#answer_minimum_length_div").show();
        $("#answer_maximum_length_div").show();
        $("#answer_greater_than_or_equal_to_div").hide();
        $("#answer_less_than_or_equal_to_div").hide();
        $("#answer_options_div").hide();
        break;
      default:
        console.log('nothing selected');
    }
  }

  <% page_js do %>
    $("#answer_minimum_length_div").hide();
    $("#answer_maximum_length_div").hide();
    $("#answer_greater_than_or_equal_to_div").hide();
    $("#answer_less_than_or_equal_to_div").hide();
    $("#answer_options_div").show();
    $("#question_type").change(function(){
      val = $(this).val();
      change_question_type(val);
      $("#question_answer_greater_than_or_equal_to").val('');
      $("#question_answer_less_than_or_equal_to").val('');
      $("#question_answer_minimum_length").val('');
      $("#question_answer_maximum_length").val('');
    });
    change_question_type($("#question_type").val());
  <% end %>
</script>