<div class="survey-attempt-form">
  <h2>
    <%= t('rapidfire.questions.header') -%>
  </h2>
  <div class="surveys-btns">
    <div>
      <%= link_to t('rapidfire.questions.new'), new_survey_question_path(@survey), class: "btn btn-primary" %>
    </div>
    <div>
      <%= link_to t('rapidfire.questions.back'), surveys_path, class: "btn btn-link" %>
    </div>
  </div>
  <hr/>

<div class="survey-details">
  <div>
    <label><%= "survey_name:".cms %></label>&nbsp&nbsp
    <strong><%= @survey.cms_name %></strong><br/>
    <label><%= "introduction:".cms %></label>&nbsp&nbsp
    <strong><%= @survey.cms_introduction %></strong>
    </div>
    <div>
       <%= link_to "cms".cms,
                      main_app.show_cms_instance_keys_path(@survey.class.to_s, @survey.id),
                      class: "btn btn-default",
                      target: "_blank" %>
    </div>
</div>
<div class="table-responsive">
  <table class="table survey-questions">
    <colgroup>
      <col>
      <col width="250">
    </colgroup>
    <thead>
      <tr>
        <th><%= t('rapidfire.questions.question') -%></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "question", collection: @questions %>
    </tbody>
  </table>
</div>
