<div class="survey-attempt-form">
<h2><%= survey.new_record? ? "New Survey" : "Edit Survey" %><%= link_to "surveys".cms, surveys_path, class: "btn btn-primary"%></h2>
  <%= form_for survey do |f| %>
    <%- if survey.errors.any? %>
      <ul class="valid-errors text-center">
        <%- survey.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :introduction %>
      <%= f.text_area :introduction %>
    </div>
    <div class="clearfix">
      <%= f.submit :class => "btn btn-primary pull-right" %>
    </div>
  <% end %>
</div>
<style type="text/css">
  .survey-attempt-form h2 a{
    float: right;
  }
</style>