<div class="survey-attempt-form">
<h2>Surveys</h2>
<% if can_administer? %>
  <div class="surveys-btns">
    <div>
      <%= link_to "New Survey", new_survey_path, class: "btn btn-primary" %>
    </div>
    <div>
      <%#= link_to t('Back to home'), '/', class: "btn btn-default" %>
      <%= link_to t('Export All'), export_surveys_path(), class: "btn btn-default" %>
      <%= link_to t('Import'), import_surveys_path(), class: "btn btn-default" %>
    </div>
</div>
<% end %>
<div class="table-responsive">
  <table class="table surveys-list">
    <thead>
      <tr>
        <th>Survey</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "survey", collection: @surveys %>
    </tbody>
  </table>
</div>
</div>
<% if defined?(Kaminari) %>
  <%= paginate @surveys %>
<% end %>
