<div class="survey-attempt-form">
  <h2>Results<%= link_to "surveys".cms, surveys_path, class: "btn btn-primary"%></h2>
  <%- @survey_results.each do |result| %>
    <div>
      <h4 style="margin-bottom: 0;padding-left: 15px;"><%= result.question.question_text %></h4>
        <%- if result.results.is_a?(Array) %>
          <ol style="margin: 0 15px;">
            <%- result.results.each do |answer| %>
              <li><%= answer %></li>
            <% end %>
          </ol>
        <% elsif result.results.is_a?(Hash) %>
        <div class="table-responsive" style="padding-top: 0;">
          <table class="table table-striped" style="margin-bottom: 0;">
            <thead>
              <tr>
                <th>Option</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <%- result.results.each do |option, count| %>
                <tr>
                  <td><%= option %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
    </div>
  <% end %>
</div>
<style type="text/css">
  .survey-attempt-form h2 a{
    float: right;
  }
</style>